@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Additional CSS for Navbar Interactivity and Styling */

.main-content {
    min-height: calc(100vh - (height of navbar + height of footer));
    /* Other styles */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    color: #86b77f;
    align-items: center;
    background-color: #474B47;
    padding: 0 20px;
  }
  
  .navbar-logo {
    color: white;
    text-decoration: none;
    font-size: 24px;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .icon {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    cursor: pointer;
  }

  a {
    text-decoration: none;
    color: white;
    font-family: 'Karla', sans-serif;
    font-weight: 200;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
  }
  
  

  #notification-dropdown { display: none; }

/* Class to show the dropdown */
.show {
    display: block !important;
}
  
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  #profile-icon {
    margin-left: 20px; /* Adjust as needed */
}




.current {
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #5fa865;
}

.page-title {
    text-align: left;
    padding: 20px;
    color: #474B47;
    font-size: 32px;
}

.container h2 {
    font-size: 2em;
    margin-bottom: 20px;
    width: 100%;
  }
  
  .profile-card {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Add this line */
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    width: 25%; /* Adjust as needed */
    margin-left: 90px;
  }
  
  
  .profile-card a {
    text-decoration: none;
    color: #474B47;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
    flex-grow: 1; /* Add this line */
  }
  
  .delete-button {
    margin-left: 10px;
    background-color: #f44336; /* Red */
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .delete-button:hover {
    background-color: #da190b; /* Darker red */
  }
  
  a {
    display: inline-block;
    
  }
  
  .delete-link {
    display: inline-block;
    margin-left: 400px;
  }
  
  .delete-link1 {
    display: inline-block;
    margin-left: 370px;
  }

  .update-button {
    margin-left: 10px;
  background-color: #4F8A5E;
  /* Red */
  color: white;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 16px;
}
.update-button:hover {
    background-color: #5fa865;
}   


.rectangle-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.rectangle {
    display: flex;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 60px;
    cursor: pointer;
    background-color: white;
    transition: transform 0.3s ease;
    width: calc(30% - 3vw); /* Adjust this value */
    height: 10vh;
    margin-bottom: 20px;
}

.rectangle img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}