@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Additional CSS for Navbar Interactivity and Styling */

.main-content {
    min-height: calc(100vh - (height of navbar + height of footer));
    /* Other styles */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.current {
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #5fa865;
}

.navbar {
    display: flex;
    justify-content: space-between;
    color: #86b77f;
    align-items: center;
    background-color: #474B47;
    padding: 0 20px;
  }
  
  .navbar-logo {
    color: white;
    text-decoration: none;
    font-size: 24px;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .icon {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    cursor: pointer;
  }

  a {
    text-decoration: none;
    color: white;
    font-family: 'Karla', sans-serif;
    font-weight: 200;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
  }

  
  
  

  #notification-dropdown { display: none; }

/* Class to show the dropdown */
.show {
    display: block !important;
}
  
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  #profile-icon {
    margin-left: 20px; /* Adjust as needed */
}



.profile-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  padding: 20px;
}

.profile-card {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 10px;
  width: 300px; /* Set this to the width you want */
  height: 300px; /* Set this to the height you want */
  flex-shrink: 0; /* Prevents the element from shrinking if space is tight */
}

.profile-details {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 10px;
  width: 45%;
}

.profile-details p {
  border-bottom: 1px solid #000; /* Change this to the color you want */
  padding: 10px 0;
}

.profile-photo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.profile-name {
  font-size: 2em;
  margin-bottom: 20px;
}

.profile-join-date, .profile-certificate, .profile-donations {
  font-size: 1em;
  margin-bottom: 10px;
  border-bottom: 1px solid #000; /* Add this line */
  padding-bottom: 10px; /* Add this line */
}

.profile-donations {
  border-bottom: none; /* Add this line */
}

.download-button {
  display: inline-block;
  background-color: #5fa865; /* Adjust as needed */
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.download-button:hover {
  background-color: #4e9b5b; /* Adjust as needed */
}